body{margin: 0;}

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100vh;
}
.header{
    background-color: #a6a6a6;
    width: 100% ;
    height: 56px ;
    /* flex:0; */
}
.sidebar{
    background-color: aquamarine;
    height: calc(100vh - 56px);
    width: 200px ;
    flex: 1;
}
.main{
    background-color: blueviolet;
    flex: 2 ;
}