body{margin: 0;}


.container{
    display: grid;
    grid-template-columns: 200px auto;
    grid-template-rows: 56px auto;
}

.header { 
    background-color: blue;
    grid-row-start: 1 ;
    grid-row-end: 3 ;

}
.sidebar { 
    background-color: blueviolet;
}
.main { 
    background-color:brown;   
}
