.btn_s1{
    background-color: #03ae66;
    padding: 12px;
    margin: 0 0 0 8px;
    min-width: 96px;
    font-family: opensans;
    font-size: 13px;
    border-radius: 4px;
    cursor: pointer;
    line-height: 8px;
    font-weight: 600;
    color: white;
    border: none;
    text-align: center;
}

.btn_s1:hover {
    background-color: #02bf70;
    font-size: 13px;
    min-width: 96px;
    font-family: opensans;
    font-size: 13px;  
    margin: 0px 0px 0px 8px;
    border-radius: 4px;
    height: 32px;
    cursor: pointer;
    display: inline-block;
}

.btn-close , .btn-close:hover, .btn_s1:disabled{
    background-color: #e0e0e0;
    color: #a6a6a6;
    /* padding: 12px; */
    text-align: center;
    font-size: 13px;
    min-width: 96px;
    font-weight: 600;
    font-family: opensans;
    font-size: 13px;  
    margin: 0px 0px 0px 8px;
    border-radius: 4px;
    height: 32px;
    display: inline-block;
    border: none;
}
.btn-close , .btn-close:hover {
    color: black;
}
.button-icon {
    background-image: url(../../assets/Icons/ic_sprites.svg);
    background-position: -640px -299px;
    background-repeat: no-repeat;
    width: 16px;
	height: 16px;
   
}